**
!Dockerfile
!.dockerignore
!booklore-api/**
!booklore-ui/**
!packaging/docker/**

booklore-ui/node_modules
booklore-ui/dist
booklore-ui/.angular
booklore-ui/test-results

booklore-api/build
booklore-api/.gradle
